* {
  font-family: 'Roboto Sans', sans-serif;
}
.desc {
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  font-size: 18px;
  padding: 0 20px;
  margin-top: 24px;
  
}

.tips-header {
  line-height: 36px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.tips-content {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 48px 16px 0px;
  height: auto;
}

.tips-content section p{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #C51162;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.tips-content img {
  width: 95%;
  margin-top: 20px;
}

.tip {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.tip:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tip-header {
  margin-bottom: 10px;
}
.tip > h4 {
  margin: 10px 0;
}

@media screen and (max-width: 700px) {
  .tips-section {
    margin-top: 126px;
  }
}